html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Lato', sans-serif;

}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*--------------Fin css reset-------------------*/
.container {
    height: 100vh;
    background: transparent linear-gradient(180deg, #33dbdb 0%, #01faa8 100%) 0% 0% no-repeat padding-box;
}
.box-sesion {
    position: relative;
    top: 20%;
    left: 40%;
    width: 20%;
    background: var(--color_background_1) 0% 0% no-repeat padding-box;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 8px #00000029;
    border-radius: 8px;
}
.box-sesion h1 {
    padding-top: 1rem;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0px;
    color: #33dbdb;
}
.input-form{
    width: 98%;
    margin-top: 5px;
}
.form-control{
    width: 85%;
    display: block;
    margin: 20px auto;
}
div.form-control label{
    
}


.box {
    width: 1270px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 25px;
}
